.row
  .col-md-4
    %h1.light.shadow Who
    %h4.light
      Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ab illo tempore, ab est sed immemorabili. Morbi fringilla convallis sapien, id pulvinar odio volutpat. Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
.row
  .col-md-4.col-md-offset-4 
    %h1.text-center.light.shadow What
    %h4.light.text-center
      Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ab illo tempore, ab est sed immemorabili. Morbi fringilla convallis sapien, id pulvinar odio volutpat. Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
.row
  .col-md-4.col-md-offset-8
    %h1.text-right.light.shadow Where
    %h4.light.text-right
      Gameroom Downtown is at: 1713 O St, Lincoln NE, 68508 
    %h4.light.text-right
      Gameroom South is at: 5400 S 56th St, Lincoln NE, 68516
.row
  .col-md-4.col-md-offset-4
    %h1.text-center.light.shadow When
    %h4.light.text-center
      Gameroom Downtown is open 11am - 9pm &nbsp;&nbsp; 7 days a week
    %h4.light.text-center
      Gameroom South is open 11:30am - 8:30pm &nbsp; 7 days a week
.row
  .col-md-4
    %h1.light.shadow Why
    %h4.light
      Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ab illo tempore, ab est sed immemorabili. Morbi fringilla convallis sapien, id pulvinar odio volutpat. Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
