.row.purple
  .col-md-12.padded
    %h1.text-center.huge-bottom ABOUT GAMEROOM
    .col-md-2.col-md-offset-1.text-center
      %a.btn.btn-primary{ href: '#who' } WHO
    .col-md-2.text-center
      %a.btn.btn-primary{ href: '#what' } WHAT
    .col-md-2.text-center
      %a.btn.btn-primary{ href: '#where' } WHERE
    .col-md-2.text-center
      %a.btn.btn-primary{ href: '#when' } WHEN
    .col-md-2.text-center
      %a.btn.btn-primary{ href: '#why' } WHY

.row.dark-purple#who
  .col-md-12.padded
    %h1.text-center WHO
.row
  .col-md-8.col-md-offset-2
    %h4.light.text-center.huge-top.huge-bottom.thick-line
      Gameroom started as a small dormroom ebay operation over 10 years ago.  In 2007 the first retail store was opened on O St, and we have been growing ever since.  Gameroom now supports multiple locations as well as 30+ employees.  We are constantly expanding our evergrowing selection of merchandise and services.   Our ambitious growth has led the Gameroom down exciting new avenues such as software development.  We anxiously anticipate the release of a slew of software products that will revolutionize how the Gameroom operates, and unlock possibilities for many small businesses.
.row.light-purple#what
  .col-md-12.padded
    %h1.text-center WHAT
.row
  .col-md-8.col-md-offset-2
    %h4.light.text-center.huge-top.huge-bottom.thick-line
      Gameroom sells Video Games and Game Hardware, DVD and Blu Ray Movies, Computers and Peripherals, TVs, Electronics, Media Players, Music Equipment, and Music CDs and Vinyl.  All products are cleaned, tested, and refurbished, backed with our Gameroom guarantee.
.row.purple#where
  .col-md-12.padded
    %h1.text-center WHERE
.row
  .col-md-8.col-md-offset-2
    %h2.light.text-center.huge-top.huge-bottom.thick-line
      Gameroom Downtown is at 
      %span.purple-font 1713 O St, Lincoln NE, 68508
    %h2.light.text-center.huge-top.huge-bottom.thick-line
      Gameroom South is at 
      %span.purple-font 5400 S 56th St, Lincoln NE, 68516
.row.dark-purple#when
  .col-md-12.padded
    %h1.text-center WHEN
.row
  .col-md-8.col-md-offset-2
    %h2.light.text-center.huge-top.huge-bottom.thick-line
      Gameroom Downtown is open 
      %span.purple-font 11am - 9pm
      7 days a week
    %h2.light.text-center.huge-top.huge-bottom.thick-line
      Gameroom South is open
      %span.purple-font 11:30am - 8:30pm
      7 days a week
.row.purple#why
  .col-md-12.padded
    %h1.text-center WHY
.row
  .col-md-8.col-md-offset-2
    %h4.light.text-center.huge-top.huge-bottom.thick-line
      Gameroom was founded on the basic fundamental of being an ethical business.  We believe in the products and services that we offer, and we value our customers and employees alike.  Gameroom has run into many struggles and obstacles along the way to becoming a fully mature business, and we attack the challenges head on.  We are not a perfect organization, but we treat all our failures as an opportunity to learn and grow as a company, and as a way to develop solutions through our software, to pave the way to success for many small businesses caught in the gears of the trying to grow.  We would like to thank all of those who have supported us on these endeavors, and hope that continually raise the standards under which we operate, and provide ever improving products and services to our customers.
