.row.purple
  .col-md-12.padded
    %h1.text-center Questions, comments, or concerns?
.row.dark-purple
  .col-md-12.pad-top-bottom
    %h1.text-center.small-bottom Talk to us on facebook!
    %h2.text-center
      %a.btn.btn-primary{ href: '#' }
        %i.fa.fa-facebook-square.push-right
        Gameroom For President
.row.light-purple
  .col-md-6.col-md-offset-3.pad-top-bottom
    %h1.text-center.huge-bottom Email us!
    = form_tag('/send', method: 'post') do 
      .form-group.white
        = text_field_tag(:name, params[:name], class: 'form-control input-lg text-center form-element', placeholder: "Name")
      .form-group
        = text_field_tag(:email, params[:email], class: 'form-control input-lg text-center form-element', placeholder: "Email")
      .form-group
        = text_area_tag(:body, params[:body], class: 'form-control input-lg form-element', placeholder: "Message", rows: '6')
      %h1.text-center
        %button.btn.btn-primary{ type: 'submit' }
          Send
