.row.huge-bottom.dark
  .col-md-6
    %h1.light.text-center.shadow Deal of the week
    %hr
    %h4.text-center 360 games are 1000% off!
  .col-md-6
    %h1.light.text-center.shadow Wanted Items List
    %hr
    %h4.text-center We are paying $5000 cash and $10000 store credit for ET on the Atari!
.row
  .col-md-12
    %h1.light.shadow.text-center Gameroom headlines
    %hr
    %p Put some cool social media integration here