.row.purple
  .col-md-12.padded
    %h1.text-center.big-font GAMEROOM
    %h4.text-center.thick-line
      Gameroom is a local business in Lincoln Nebraska that sells Games, Hardware, Movies, Music equipment, and much more!
    %h5.text-center
      1713 O St, Lincoln NE 68508 | 5400 S 56th St, Lincoln NE 68516
.row.dark-purple
  .col-md-12.clearfix
    %a.btn.btn-primary.top.bottom.pull-left{ href: 'https://facebook.com/gameroomforpresident', target: 'blank' }
      %h4
        %i.fa.fa-facebook-square.push-right
        Follow gameroom
    %h4.pull-right.center 
      %i.fa.fa-clock-o 
      Downtown: 11am - 9pm | Edgewood: 11:30am - 8:30pm
.row
  .col-md-12
    %h1.text-center.big-font.huge-top.huge-bottom.purple-font
      %i.fa.fa-usd.fa-2x.circled 
    %h1.text-center.big-font Deal of the week
    %h3.text-center.big-bottom
      %span.important 360 games are 1000% off!
      
