.row.purple
  .col-md-12.padded
    %h1.text-center.big-font GAMEROOM
    %h4.text-center.thick-line
      Gameroom is a local business in Lincoln Nebraska that sells Games, Hardware, Movies, Music equipment, and much more!
    %h4.text-center
      1713 O St, Lincoln NE 68508 | 2701 N 27th St Suite C, Lincoln NE 68521
.row.dark-purple
  .col-md-12.clearfix
    %a.btn.btn-primary.top.bottom.pull-left{ href: 'https://facebook.com/gameroomforpresident', target: 'blank' }
      %h4
        %i.fa.fa-facebook-square.push-right
        Follow gameroom
    %h4.pull-right.center 
      %i.fa.fa-phone-square
      Downtown: (402) 438-7161 | 27th: (402) 421-0935
.row
  .col-md-12
    = image_tag("token.svg", size: '250x250', class: "img-responsive center-block big-top")
    %h1.text-center.big-font.huge-bottom
      = @blurb.name
    %h3.text-center.huge-bottom
      %span.important 
        = @blurb.content
      
