.row.purple
  .col-md-12
    %h1.text-center.big-top GAMEROOM DOWNTOWN
    %h3.text-center.small-bottom 1713 O St, Lincoln NE 68508
    %h3.text-center.big-bottom 
      %i.fa.fa-clock-o
      11am - 9pm
.row.light-purple
  .col-md-12.pad-top-bottom
    %iframe.center-block{ src: 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3019.662018199514!2d-96.69629425!3d40.8134203!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8796befa9bdc23af%3A0x9e3f38d758bd8e91!2sThe+Gameroom!5e0!3m2!1sen!2sus!4v1407033710621', width: '97%', height: '600', frameborder: '0', style: 'border: 0' }
.row.dark-purple
  .col-md-12
    %h1.text-center.big-top GAMEROOM SOUTH
    %h3.text-center.small-bottom 5400 S 56th St, Lincoln NE 68516
    %h3.text-center.big-bottom
      %i.fa.fa-clock-o
      11:30am - 8:30pm
.row.light-purple
  .col-md-12.pad-top-bottom
    %iframe.center-block{ src: 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3022.1618420401874!2d-96.640337!3d40.75846500000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87969622d3fdf0c3%3A0xae4673310be16c0c!2sGameroom!5e0!3m2!1sen!2sus!4v1407034242261', width: '97%', height: '600', frameborder: '0', style: 'border: 0' }

   



        



