.row
  .col-md-12.dark
    %h1.text-center.light.shadow.small-bottom Gameroom Downtown
    %h3.text-center.light.no-top.no-bottom 1713 O St, Lincoln NE, 68508
    %h3.text-center.light.no-top.no-bottom (402) 438-7161
    %h3.text-center.light.no-top 11am - 9pm

    .map
      %iframe.center-block.huge-bottom.small-top{ src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.662018199514!2d-96.69629424999998!3d40.81342029999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8796befa9bdc23af%3A0x9e3f38d758bd8e91!2sThe+Gameroom!5e0!3m2!1sen!2sus!4v1406573722470", width: '90%', height: '600px', frameborder: '0', style: 'border:0' }
      
    %h1.text-center.light.shadow.small-bottom Gameroom South
    %h3.text-center.light.no-top.no-bottom 5400 S 56th St, Lincoln NE, 68516
    %h3.text-center.light.no-top.no-bottom (402) 421-0935
    %h3.text-center.light.no-top 11:30am - 8:30pm

    .map
      %iframe.center-block.huge-bottom.small-top{ src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3022.1618420401874!2d-96.640337!3d40.75846500000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87969622d3fdf0c3%3A0xae4673310be16c0c!2sGameroom!5e0!3m2!1sen!2sus!4v1406573962666", width: '90%', height: '600px', frameborder: '0', style: 'border:0' }

        



