.row.purple
  .col-md-12.pad-top-bottom
    %h1.text-center USED PRODUCTS
.row
  .col-md-12
    %h3.text-center.thick-line.light
      Gameroom sells Video Games and Game Hardware, DVD and Blu Ray Movies, Computers and Peripherals, TVs, Electronics, Media Players, Music Equipment, and Music CDs and Vinyl. &nbsp;All products are cleaned, tested, and refurbished, backed with our Gameroom guarantee.
    %h3.text-center.thick-line.light
      Gameroom offers the full spectrum of used Video Games and Game Hardware. &nbsp;We sell hardware and games from all retro and current game platforms. &nbsp;We offer a wide selection for the Nintendo, Sega, Atari, Playstation, and Xbox console lines.
    %h3.text-center.thick-line.light
      We boast an enourmous selection of DVD and Blu Ray movies. &nbsp;Our selection ranges from the most current new releases to hard to find classics. &nbsp;Spend ours browsing our selection, or find exactly what you are looking for on our alphabetized shelves.
    %h3.text-center.thick-line.light
      Gameroom also carries Computers and Peripherals which include; PC Towers, Laptops, Computer monitors, many different types of cables and Peripherals.  
    %h3.text-center.thick-line.light
      Gameroom has an ever growing selection of Audio Video equipment, TVs, Media Players, Stereo Components and a variety of other electronic devices. &nbsp;Music Equipment, an extensive catalog of CDs, and modest selection of vinyl.
.row.dark-purple
  .col-md-12.pad-top-bottom
    %h1.text-center SELLING/TRADING
.row
  .col-md-12
    %h3.text-center.thick-line.light
      All of Gameroom's products are used and come from customer Trade-Ins. &nbsp;We accept anything on the list above in Trade for Store Credit or Cash. 
    %h3.text-center.thick-line.light
      We also accept broken and defective merchandise. &nbsp;Store Credit NEVER expires, and is instantly accessible in all of our locations. &nbsp;A valid drivers license is required for all Trade-In transactions. 
    %h3.text-center.thick-line.light
      We track a database of incoming merchandise and compare it with law enforcement agencies to track stolen goods. &nbsp;We can and will prosecute all stolen merchandise that is even attempted to be sold. &nbsp;Please don't bring us stuff that isn't yours!
.row.purple
  .col-md-12.pad-top-bottom
    %h1.text-center REPAIRS
.row
  .col-md-12
    %h3.text-center.thick-line.light
      We offer a wide variety of Video Game and Electronic Device repair services. 
    %h3.text-center.thick-line.light
      Gameroom fixes most issues with current and last generation game consoles, as well as cell phones and laptops. &nbsp;Ask any sales rep for details.
.row.dark-purple
  .col-md-12.pad-top-bottom
    %h1.text-center DISC CLEANING
.row
  .col-md-12
    %h3.text-center.thick-line.light
      Gameroom offers professional grade disc repairs for $1.50 per disc. &nbsp;We can remove the read-side scratches out of CDs, DVDs, PC Games, and Game Discs.
    %h3.text-center.thick-line.light
      The process only takes 5 minutes per discs, and can be done at any of our storefront locations. 
    %h3.text-center.thick-line.light
      Blu-Ray, Wii-U, Xbox One, and PS4 Discs are made from a material that is scratch resistant and unrepairable.
.row.dark-purple
  .col-md-12.pad-top-bottom
    %h1.text-center VOLUNTEERING
.row
  .col-md-12
    %h3.text-center.thick-line.light
      Gameroom offers a volunteering program where customers can come in and help Gameroom employees with the processing of merchandise, and earn store credit while doing so!
    %h3.text-center.thick-line.light
      Call either store location for more details!










