.row.purple
  .col-md-12.padded
    %h1.text-center.huge-bottom WHAT WE DO
    .col-md-2.col-md-offset-1.text-center
      %a.btn.btn-primary{ href: '#used' } USED PRODUCTS
    .col-md-2.text-center
      %a.btn.btn-primary{ href: '#sell' } SELLING/TRADING
    .col-md-2.text-center
      %a.btn.btn-primary{ href: '#repairs' } REPAIRS
    .col-md-2.text-center
      %a.btn.btn-primary{ href: '#disc' } DISC CLEANING
    .col-md-2.text-center
      %a.btn.btn-primary{ href: '#volun' } VOLUNTEERING
.row.dark-purple#used
  .col-md-12.padded
    %h1.text-center USED PRODUCTS
.row
  .col-md-8.col-md-offset-2
    %h4.text-center.big-top Video Games
    %h4.text-center Game Hardware
    %h4.text-center DVD & Blu Ray Movies
    %h4.text-center Computers & Peripherals
    %h4.text-center TVs
    %h4.text-center Media Players
    %h4.text-center Music Equipment
    %h4.text-center CDs and Vinyl
    %h4.text-center.thick-line.light.big-bottom
      All products are 
      %span.bold cleaned,
      %span.bold tested,
      and
      %span.bold refurbished,
      backed with our Gameroom guarantee.
.row.dark-purple#sell
  .col-md-12.padded
    %h1.text-center SELLING/TRADING
.row
  .col-md-8.col-md-offset-2
    %h4.text-center.thick-line.light.huge-top
      Gameroom's products are 
      %span.bold used 
      and come from customer 
      %span.bold Trade-Ins. 
      We accept 
      %span.bold anything 
      on the list above in Trade for 
      %span.bold Store Credit 
      or 
      %span.bold Cash. 
      &nbsp;We also accept
      %span.bold broken
      and
      %span.bold defective
      merchandise.
    %h4.text-center.thick-line.light
      Store Credit 
      %span.bold NEVER 
      expires, and is 
      %span.bold instantly accessible 
      in all of our locations. 
    %h3.text-center.thick-line
      A valid drivers license is required for all Trade-In transactions. 
    %h4.text-center.thick-line.light
      We track a database of incoming merchandise and compare it with 
      %span.bold law enforcement 
      agencies to track stolen goods. &nbsp;We can and will prosecute 
      %span.bold all 
      stolen merchandise that is even attempted to be sold.
    %h3.text-center.thick-line.big-bottom
      Please don't bring us stuff that isn't yours!
.row.purple#repairs
  .col-md-12.padded
    %h1.text-center REPAIRS
.row
  .col-md-8.col-md-offset-2
    %h4.text-center.thick-line.light.huge-top
      We offer a wide variety of 
      %span.bold repair services. 
    %h4.text-center.thick-line.light
      Gameroom fixes most issues with 
      %span.bold game consoles, 
      as well as 
      %span.bold cell phones 
      and 
      %span.bold laptops. 
    %h4.text-center.thick-line.light.big-bottom Ask any sales rep for details!
.row.dark-purple#disc
  .col-md-12.padded
    %h1.text-center DISC CLEANING
.row
  .col-md-8.col-md-offset-2
    %h4.text-center.thick-line.light.huge-top
      Gameroom offers 
      %span.bold professional grade 
      disc repairs for 
      %span.bold $1.50 per disc. 
      %h4.text-center.thick-line.light 
        We can remove the 
        %span.bold read-side 
        scratches out of 
        %span.bold CDs, DVDs, PC Games, 
        and 
        %span.bold Game Discs.
    %h4.text-center.thick-line.light
      The process only takes 
      %span.bold 5 minutes 
      per disc, and can be done at 
      %span.bold both 
      of our storefront locations. 
    %h4.text-center.thick-line.light.huge-bottom
      %span.bold Blu-Ray, Wii-U, Xbox One, 
      and 
      %span.bold PS4 
      Discs are made from a material that is 
      %span.bold scratch resistant 
      and 
      %span.bold unrepairable.
.row.dark-purple#volun
  .col-md-12.padded
    %h1.text-center VOLUNTEERING
.row
  .col-md-8.col-md-offset-2
    %h4.text-center.thick-line.light.huge-top
      Gameroom offers a 
      %span.bold volunteering program 
      where customers can come in and help Gameroom employees with the 
      %span.bold processing 
      of merchandise, and earn 
      %span.bold store credit 
      while doing so!
    %h4.text-center.thick-line.light.huge-bottom
      Call either store location for more details!










