.row
  .container
    .col-md-12 
      %ul.nav.nav-tabs{ role: 'tablist' }
        %li.active
          %a{ href: '#sell', role: 'tab', data: { toggle: 'tab' } } 
            %i.fa.fa-money 
            Selling/Trading
        %li
          %a{ href: '#repairs', role: 'tab', data: { toggle: 'tab' } } 
            %i.fa.fa-wrench
            Repairs
        %li
          %a{ href: '#disc', role: 'tab', data: { toggle: 'tab' } } 
            %i.fa.fa-bullseye
            Disc Cleaning
        %li
          %a{ href: '#volun', role: 'tab', data: { toggle: 'tab' } } 
            %i.fa.fa-users
            Volunteering

      .tab-content
        .tab-pane.fade.in.active#sell
          %h1.text-center.light.shadow Selling/Trading
          %h3.text-center.light
            Quam temere in vitiis, legem sancimus haerentia. Paullum deliquit, ponderibus modulisque suis ratio utitur. Nec dubitamus multa iter quae et nos invenerat. At nos hinc posthac, sitientis piros Afros. At nos hinc posthac, sitientis piros Afros.
        .tab-pane.fade#repairs
          %h1.text-center.light.shadow Repairs
          %h3.text-center.light
            Quam temere in vitiis, legem sancimus haerentia. Paullum deliquit, ponderibus modulisque suis ratio utitur. Nec dubitamus multa iter quae et nos invenerat. At nos hinc posthac, sitientis piros Afros. At nos hinc posthac, sitientis piros Afros.
        .tab-pane.fade#disc
          %h1.text-center.light.shadow Disc cleaning
          %h3.text-center.light
            Quam temere in vitiis, legem sancimus haerentia. Paullum deliquit, ponderibus modulisque suis ratio utitur. Nec dubitamus multa iter quae et nos invenerat. At nos hinc posthac, sitientis piros Afros. At nos hinc posthac, sitientis piros Afros.
        .tab-pane.fade#volun
          %h1.text-center.light.shadow Volunteering
          %h3.text-center.light
            Quam temere in vitiis, legem sancimus haerentia. Paullum deliquit, ponderibus modulisque suis ratio utitur. Nec dubitamus multa iter quae et nos invenerat. At nos hinc posthac, sitientis piros Afros. At nos hinc posthac, sitientis piros Afros.









