/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* VARIABLES */
$background-color: #FFFFFF;
$grpurple: #9b59b6;
$black: #333333;

/* GLOBAL STYLES */

* {
  font-family: 'Raleway' !important;
}

.fa {
  font-family: FontAwesome !important;
}

body {
  background-color: $background-color !important;
}

.navigation {
  font-size: 18px !important;
  font-weight: 100 !important;
  background-color: $black !important;
  a {
    color: white !important;
    &:hover {
      color: $grpurple !important;
    }
  }
}

a {
  color: $grpurple !important;
  &:hover {
    text-decoration: none !important;
    color: darken($grpurple, 10%) !important;
  }
}

.flash {
  background-color: lighten($grpurple, 5%) !important;
}

.form-element {
  border-radius: 10px !important;
  background-color: $background-color !important;
  border: 1px solid darken($grpurple, 11%) !important;
  color: black !important;
}

/* UTILITIES */

.no-top {
  margin-top: 0px !important;
}

.small-top {
  margin-top: 5px !important;
}

.big-top {
  margin-top: 35px !important;
}

.huge-top {
  margin-top: 65px !important;
}

.no-bottom {
  margin-bottom: 0px !important;
}

.small-bottom {
  margin-bottom: 5px !important;
}

.big-bottom {
  margin-bottom: 35px !important;
}

.bottom {
  margin-bottom: 17px !important;
}

.top {
  margin-top: 17px !important;
}

.huge-bottom {
  margin-bottom: 65px !important;
}

.light {
  font-weight: 100 !important;
}

.shadow {
  text-shadow: 1px 1px $grpurple !important;
}

.bottom-split {
  border-bottom: 2px solid darken($black, 5%) !important;
}

.dark {
  background-color: darken($background-color, 15%) !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.padded {
  padding: 165px; 
}

.purple {
  background-color: $grpurple !important;
  color: white !important;
}

.purple-font {
  color: $grpurple !important;
}

.dark-purple {
  background-color: darken($grpurple, 10%) !important;
  color: white !important;
}

.light-purple {
  background-color: lighten($grpurple, 5%) !important;
  color: white !important;
}

.thick-line {
  line-height: 40px !important;
}

.big-font {
  font-size: 80px;
  font-weight: 100 !important;
}

.push-right {
  padding-right: 10px !important;
}

.center {
  display: inline-block !important;
  line-height: 3.7 !important;
}

.important {
  background-color: $grpurple !important;
  color: white !important;
  padding: 15px !important;
  border-radius: 7px !important;
}

.pad-top-bottom {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.white {
  color: white !important;
}

.bold {
  font-weight: 400 !important;
}

/* BOOTSTRAP OVERRIDES */

.container {
  height: 100% !important;
  background-color: #eaeaea !important;
}

hr {
  border-top: 1px solid #5E5E5E !important;
}

.nav-tabs {
  li.active a {
    background-color: darken($background-color, 30%) !important;
    border-radius: 0px !important;
    color: white !important;
  }

  li a {
    color: black !important;
  }
}

.emailform {
  .form-control {
    border-radius: 0px !important;
  }

  button {
    border-radius: 0px !important;
    background-color: $grpurple !important;
    border: 0px !important;
    &:hover {
      background-color: darken($grpurple, 10%) !important;
    }
  }
}

.btn-primary {
  background-color: transparent !important;
  border: 2px solid white !important;
  border-radius: 10px !important;
  color: white !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  &:hover {
    border: 2px solid darken(white, 30%) !important;
    color: darken(white, 20%) !important;
  }
}

.alert {
  margin-bottom: 0px !important;
  color: white !important;
}

.form-control {
  color: #333 !important;
}
